<!-- 
 <app-click></app-click>  -->
<header>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <img src="assets/doc5.jpg" alt="" class="logo">
                   
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end" > 
                <div class="menu-icon">
                    <i class="bi bi-list"></i>
                </div>
                <div class="desktop-menu">
                    <ul>
                        <li>Home</li>
                        <li>Doctors List</li>
                        <li>Appointment</li>
                        <li>Contact</li>
                    </ul>
                </div>
               
            </div> 
        </div> 
    </div> 
    
</header>

<section>
    <div class="img-container">
        <div class="img-wrapper">
            <img src="assets/doc10.png" alt="Doctor Image">
        </div>
        <div class="overlay">
            <h1>MEDICAL SOLUTIONS</h1>
            <p>PERSONAL CARE FOR YOUR HEALTHY LIVING:)<br>Take care of your health</p>
             <!-- <button>Click Here</button> -->
            <!-- <button class="button"(click)="onIncome()">click Here</button> -->
            

        </div>
    </div>
</section><br>

<section>
    <div class="container1">
        <div class="wrapper1">
            <img src="assets/doc4.jpg" alt="Doctor Image">
        </div>
        
        <div class="overlays1">
            <h1>Making Health <br>Care Better Together</h1>
            <h6>Also you dry creeping beast multiply fourth aboundantly our<br> itsel signs bring our.won from living whose dry you seasons<br>divide given gathering great in whose you will greatest let livesin from beast sinthette better together thses place absolute</h6>
                
             <!-- <button>Click Here</button> -->
         </div> 
    </div>
</section>

<section>
    <div class="container2">
        <div class="wrapper2">
            <img src="assets/doc15.jpg" alt="Doctor Image">
        </div>
        
        <div class="overlays2">
            <h1>Your first step <br>towords a healthy heart</h1>
           <h6> Types of Doctors
There are many types of doctors, depending on the field they have studied, like physicians, surgeons, dermatologists, cardiologists, etc.<br>

Surgeons: A person who specialises in surgery and has surgical knowledge is called a surgeon.<br>

Physician: Doctors that perform non-surgical treatment are called physicians.<br>

Gynaecologist: A doctor skilled in female reproductive health is called a gynaecologist.<br>

Dermatologist: A doctor that treats skin diseases is called a dermatologist.<br>

Dentist: A doctor who is skilled in the treatment of teeth is called the dentist.<br>

Cardiologist: A person who knows the treatment of the blood vessels and heart is called a cardiologist.</h6>
                
             <!-- <button>Click Here</button> -->
         </div> 
    </div>
</section>

<section>
    <div class="container3">
        <div class="wrapper3">
            <img src="assets/doc13.jpg" alt="Doctor Image">
        </div>
        
        <div class="overlays3">
            <h1>Our doctors and therapists are here, 24/7.</h1>
            <p>Don't wait to start feeling better. Connect with <br>a board-certified doctor in mintutes. Schedule<br> time with a therapist or psychiatrist this week.</p>
                
             <!-- <button>Click Here</button> -->
         </div> 
    </div>
</section>




