<div>
  <input #mapSearchField type="text" placeholder="Search location" />
  <button (click)="searchLocation()">Search</button>
</div>
<div class="container">
  <div class="info">
    <img src="assets/loc4.jpg" alt="LOCATION" />
    <h3>
      LOCATION & DIRECTIONS<br />
      <p>
        Welcome to our map page – your gateway to accessible and efficient
        healthcare services. Use our maps to find available appointment slots at
        clinics and hospitals in your area. Easily locate doctors near you, so
        you can get the care you need without traveling far. Locate specialists
        in your area for specific medical needs, from dermatologists to
        cardiologists. Whether you're looking for routine care, specialized
        treatment, or emergency services, our mapping information helps you
        connect with the right healthcare providers quickly and conveniently.
      </p>
    </h3>
    <br />
  </div>
  <div id="map"></div>
</div>
