<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 col-sm-3 col-3">
            <div class="logo-container">
              <img src="assets/doc5.jpg" alt="" class="logo" />
            </div>
          </div>
          <div
            class="col-md-9 col-sm-9 col-9 text-end d-flex justify-content-end align-items-center"
          >
            <div class="desktop-menu d-none d-md-block">
              <ul class="menu-items">
                <li *ngFor="let router of routerData">
                  <a [routerLink]="router.path" routerLinkActive="active">{{
                    router.label
                  }}</a>
                </li>
              </ul>
            </div>
            <div class="menu-icon d-md-none" (click)="toggleMenu()">
              <i class="bi bi-list"></i>
            </div>
          </div>
        </div>
        <div
          class="mobile-menu d-md-none"
          [ngClass]="{ 'show-menu': isMenuOpen }"
        >
          <ul class="menu-items">
            <li *ngFor="let router of routerData">
              <a [routerLink]="router.path" routerLinkActive="active">{{
                router.label
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>
  </body>
</html>
